# Ignore everything
*
# But not these files...
!/.gitignore

!*.yaml
!*.go
!go.mod
!go.sum
!Makefile
!Dockerfile

!README.md
!PROJECT
!LICENSE
!.licignore
!.golic.yaml
!.golangci.toml
!.gitkeep
!NOTES.md
!CODEOWNERS
# ...even if they are in subdirectories
!*/
